@model PortfolioManager.Models.Customer
@{
    ViewBag.Title = "CustomerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CustomerDetails</h2>
<h2>@Model.CustomerName</h2>
<h2>@Model.CustomerBalance</h2>
<h2>@Model.CustomerNumber</h2>
